.content {
	padding-left: 17vw;
	padding-top: 25px;
	padding-bottom: 25px;
	transition: .2s;
}

@media only screen and (max-width: 768px) {
	.content {
		padding-left: 12px;
		padding-top: 15px;
		padding-bottom: 16px;
	}

	.content h1 {
		font-size: 24px;
	}
}

.🟦 {
	color: cadetblue;
}

.side-by-side {
	display: flex;
}

.left-side {
	flex: 1;
}

.right-side {
	flex: 1;
}

.below {
	display: none;
}

@media only screen and (max-width: 768px) {
	.below {
		display: block;
		margin-top: 5px;
		margin-bottom: 260px;
	}
	.right-side {
		display: none;
	}