.footer {
	height: 8vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 5%;
	width: 90%;
	background: rgba(255, 255, 255, .5);
	z-index: 100;
}

.footer-menu {
	width: 10vw;
	height: auto;
}

@media only screen and (min-width: 768px) {
	.footer, .footer-menu {
		display: none;
	}
}
